<br/>

<img src="/images/block.png" alt="Área da Administração" class="mt-1" style="width:200px" />
<div class="container">
    <div class="jumbotron">
        <p class="text-uppercase font-weight-bold">
            <h2>Acesso não Autorizado</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar Home Page</a>
</div>