<br/>

<img src="~/images/admin.png" alt="Área da Administração" class="mt-1" style="width:150px" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Bem-vindo a Área da Administração</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar Home Page</a>
</div>